.main-title {
    font-family: "Hoefler Text",Constantia,Palatino,"Palatino Linotype","Book Antiqua",Georgia,serif;
    color: #08455f;
    text-align: center;
    margin: 0;
    padding: 0.25em 0;
    font-size: 2.25em;
    height: 10%;
}

.fragments {
    height: 90%;
    position: relative;
}
/* Positionnement centré */
.fragments .vertical-center {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    width: 100%;
}

.fragments .vertical-center.left, 
.fragments .vertical-center.right {
    width: 49%;
}

.fragments > div:first-child {
    padding-top:10px;
}


.subtitle-fragment {
    font-family: "Hoefler Text",Constantia,Palatino,"Palatino Linotype","Book Antiqua",Georgia,serif;
    color: #0b7495;
    font-size: 1.75em;
    font-weight: bold;
    margin: 0 0 0.5em;
    padding-top: 0; 
    border-bottom: 0 none;
}

.slide-number {
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-weight: 700;
    font-size: 0.5em;
}

.slide-speaker {
    position: absolute;
    left: 1em;
    bottom: 1em;
    font-size: 0.5em;
}

.code-fragment {
    font-size:16px;
}

.code-fragment >>> pre {
    overflow: visible;
    margin: 0;
}

.code-fragment >>> code {
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.image-fragment {
    display: block;
    margin: auto;
    max-width: 100%;
}

.ide-vsc .image-fragment {
    height: 70%;
}

.battle .image-fragment {
    position: fixed;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    padding: 0;
}

.men-in-black .image-fragment {
    height: 70%;
}

.tendance .image-fragment {
    height: 500px;
}

.question .image-fragment {
    position: absolute;
    top: -11%;
    width: 100%;
}

.text-question .subtitle-fragment {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 11%;
}

.logo-question .image-fragment {
    position: absolute;
    width: 6%; 
    bottom: 0;
    left: 47%;
}

.es5.left .image-fragment,
.es5-es6.left .image-fragment,
.es5-es6-typescript.left .image-fragment {
    float: left;
}

.es5.right,
.es5-es6.right,
.es5-es6-typescript.right {
    right: 2%;
}

.historique .list-fragment {
    margin-left: 0;
}

.no-list-style-type .list-fragment {
    list-style-type: none;
}

.list-fragment  {
    font-family: "Hoefler Text",Constantia,Palatino,"Palatino Linotype","Book Antiqua",Georgia,serif;
    margin-left: 2em;
    vertical-align: top;
}

.list-fragment.ordered {
    list-style-type: decimal;
    color:#444;
}

.list-fragment li {
    padding: 0.25em 0;
    vertical-align: middle;
}

.plan .list-fragment li .content {
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.33em;
}

.quote-fragment {
    transform: scale(0.9);
}

.quote-fragment blockquote {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cde;
    border-radius: 5px;
    color: #000;
    font-family: "Hoefler Text",Constantia,Palatino,"Palatino Linotype","Book Antiqua",Georgia,serif;
    font-size: 1.25em;
    padding: 1em 2em 0.5em;
    position: relative;
    z-index: auto;
}

.quote-fragment blockquote > *:first-child::before {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.quote-fragment blockquote::after {
    border-radius: 10px / 100px;
    bottom: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    content: "";
    left: 0;
    position: absolute;
    right: 50%;
    top: 10px;
    z-index: -2;
}

.quote-fragment blockquote p {
    margin: 0;
}

.quote-fragment blockquote cite {
    color: #888;
    font-size: 0.5em;
    font-style: normal;
    font-weight: bold;
}

.quote-fragment blockquote:before {
    color: #ccf0f0;
    content: "“";
    font-size: 5em;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 0;
    z-index: 1;
}

.logo-angular{
    height: 100%;
}

.logo-angular .image-fragment{
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.24));
    height: 100%;
    opacity: 1;
    padding: 0 0 20%;
}

.speaker {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    margin-bottom: 24px;
    min-width: 216px;
    width: 47%;
    margin: 0 1% 1%;
    padding-bottom: 16px;
    transition: box-shadow 0.5s ease 0s;
    text-align: center;
    position: absolute;
    bottom: 5%;
}

.speaker.left {
    left: 1%;
}

.speaker.right {
    right: 1%;
}

.speaker .html-fragment{
    color: #607d8b;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px;
    margin: 16px 0;
    padding: 16px 16px 0;
    text-transform: none;
}

.demo {
    padding-left: 20px;
    font-size: 0.7em;
}
